@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-100 text-slate-800;
    font-family:
      system-ui,
      -apple-system,
      sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  a {
    @apply text-blue-600 hover:text-blue-800;
    text-decoration: none;
  }

  button {
    font-family: inherit;
  }
}
